#banner {
  background-image: url(../images/background.jpg);
  color: white;
  padding: 150px 50px;
  background-size: cover;
}

#banner h1 {
  font-size: 50px;
  color: white;
}

#banner p {
  font-size: 25px;
  font-weight: 100;
}